#fundshead{
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow-y: hidden;
    background: url(http://www.everyaustraliancounts.com.au/wp-content/uploads/reading.jpg);
    background: url(http://www.everyaustraliancounts.com.au/wp-content/uploads/reading.jpg);
    background: url(http://www.everyaustraliancounts.com.au/wp-content/uploads/reading.jpg);
    color: white;
    background-size: cover;
}

.col-sm-5 > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > img:nth-child(1){
 height:100%;  
   width:100%;
}


.header-content-inner > h1:nth-child(1){
 color:blue;   
}

.header-content-inner > a:nth-child(2){
 color:blue;   
}

.col-sm-5 > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > a:nth-child(1) > img:nth-child(1){
    height: 100%;
    width: 100%;

}


.header-content{
    margin-top: 30%;
}

.text-muted{
    text-align:center;
}
    


.quotess{
  text-shadow: 2px 1px 5px #3f3232;
  text-align: center;
  margin-top: 30%;

}

@media (max-width: 350px) {
  #quoteDisplay > h1 {
    font-size:24px !important;

  }

}

.inner-fund{
       padding: 150px 0 !important;
}

/*.text {
 position: absolute;
    width: 450px;
    left: 38%;
    /* margin-left: 198px; */
    /* height: 40px; */
    /* top: 50%; */
    /* margin-top: -20px; */
    /*margin: auto;
    top: 50%;

}*/

.cented{
  margin: auto;
}

.text {
    position: relative;
    /* margin: auto; */
    margin-left: -10%;
    top: 50%;
}


@media (max-width: 769px){
  .text {
 position: absolute;

    margin-left: -10%;
    width: 200px;
    /* margin-left: 198px; */
    /* height: 40px; */
    /* top: 50%; */
    /* margin-top: -20px; */
    margin: auto;
    top: 50%;

}
}

.text h1 {
    display: inline-block;
  vertical-align: top;
  margin: 0;
    text-shadow: 2px 1px 5px #3f3232;
    letter-spacing: 5px;
}

.word {
  position: absolute;
  width: 220px;
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  -webkit-transform: translateZ(25px);
          transform: translateZ(25px);
  -webkit-transform-origin: 50% 50% 25px;
          transform-origin: 50% 50% 25px;
}

.letter.out {
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transition: -webkit-transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: -webkit-transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}

.letter.in {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  -webkit-transition: -webkit-transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: -webkit-transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
  color: #8e44ad;
}

.belize {
  color: #2980b9;
}

.pomegranate {
  color: #c0392b;
}

.green {
  color: #16a085;
}

.midnight {
  color: #2c3e50;
}





.tooltip{ 
  position:relative;
  float:right;
}
.tooltip > .tooltip-inner {background-color: #eebf3f; padding:5px 15px; color:rgb(23,44,66); font-weight:bold; font-size:13px;}
.popOver + .tooltip > .tooltip-arrow {  border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid #eebf3f;}

.progress{
  height: 14px;
  border-radius:30px;
  overflow:visible;
}
.progress-bar{

  border-radius: 30px;
   background:rgb(23,44,60); 
  -webkit-transition: width 1.5s ease-in-out;
  transition: width 1.5s ease-in-out;
}


.reddy{
  background: #C9392A;
}

.bluey{
  background: #0b7dd5;
}

.dbluey{
  background: #124f7e;
}

.purpled{
background: #69049F;
}

.turq{
  background: #0aa594;
}



/* Programming languages*/

.devicon-ruby-plain{
  font-size:55px;
}
.devicon-php-plain{
  font-size:60px;
}
.devicon-java-plain{
  font-size:55px;}

.devicon-javascript-plain {
  font-size:55px;
}
.devicon-css3-plain{
font-size: 55px;
}

.devicon-python-plain{
  font-size: 50px;
}



.logos-servicios2{
max-width: 20%;}


.logos-servicios1 {
    max-width: 28%;
}

@media (min-width: 998px) and (max-width: 1200px){
.logos-servicios1 {
    max-width: 20%;
}
.logos-servicios{
max-width: 20%;}


}

@media (min-width: 1200px) {
.logos-servicios1 {
    max-width: 20%;
}
.devicon-php-plain{
  font-size:73px;
}
.logos-servicios2{
max-width: 16%;}

#services > div > div:nth-child(3) > div:nth-child(3) > img{
max-width: 20%;}

#services{
    padding: 90px 0;
}
.logos-servicios{
max-width: 28%;}

}




@media (max-width: 769px){
.progress {
    border-radius: 30px;
    overflow: visible;
    margin-left: 40px;
    margin-right: 40px;
}

.logos-servicios{
  max-width: 20%;
}

.text h1 {
    display: inline-block;
  vertical-align: top;
  margin: 0;
    text-shadow: 2px 1px 5px #3f3232;
    letter-spacing: 1px;
}
header .header-content {
    text-align: center;
    padding: 0;
    height: 30vh;
}
.quotess{
  text-shadow: 2px 1px 5px #3f3232;
  text-align: center;
  margin-top: 50%;
   font-size: 24px;

}
}

@media (min-width: 769px) and (max-width: 992px){
  .word {
    position: absolute;
    width: 250px;
    opacity: 0;
    margin-left: 7px;
}

.text {

    position: absolute;
    left:30%;
    /* margin-left: 198px; */
    /* height: 40px; */
    /* top: 50%; */
    /* margin-top: -20px; */
    margin: auto;
}
.logos-servicios{
max-width: 28% !important;
}
.logos-servicios1{
max-width: 28% !important;
}

.logos-servicios2{
max-width: 28% !important;
}

#services{
    padding: 90px 0;
}
.logos-servicios{
max-width: 28%;}

}




}


section {
  padding: 10px 0; }

section h2 {
    font-size: 50px; }


.skills{
  font-family: 'Merriweather', serif;
      text-transform: none;
}

/* background: linear-gradient(270deg, #7b4397, #189f88);
background-size: 400% 400%;

-webkit-animation: AnimationName 4s ease infinite;
-moz-animation: AnimationName 4s ease infinite;
animation: AnimationName 4s ease infinite;

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}*/



/*nav*/

.shadowtexty {
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    text-align: center;
    text-shadow: 0 -3px 0 #333, 0 6px 8px rgba(0,0,0,.4), 0 9px 10px rgba(0,0,0,.15), 0 30px 10px rgba(0,0,0,.18), 0 15px 10px rgba(0,0,0,.21);
}



#quote1{
  padding-bottom: 50px;
  padding-top: 110px;
}

.stay{
margin-top: 50px;}

/* THIRD SOCIAL
*/
.container2 {
  height: 3em;
  left: 50%;
  margin: -1.5em 0 0 -6em;
  position: absolute;
  top: 50%;
  width: 12em;
}

.social {
  position: relative;
  height: 3em;
  width: 13.5em;
  margin: auto;
}

.social li {
  display: block;
  height: 4em;
  line-height: 4em;
  margin: -2.2em;
  position: absolute;
  -webkit-transition: -webkit-transform .7s;
  -moz-transition: -moz-transform .7s;
  -ms-transition: -ms-transform .7s;
  -o-transition: -o-transform .7s;
  transition: transform .7s;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  text-align: center;
  width: 4em;
}

.social a {
  color: #fffdf0;
  display: block;
  height: 4em;
  line-height: 4em;
  text-align: center;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 4em;
}

.social li:hover {
  -webkit-transform: scale(1.3, 1.3) rotate(45deg);
  -moz-transform: scale(1.3, 1.3) rotate(45deg);
  -ms-transform: scale(1.3, 1.3) rotate(45deg);
  -o-transform: scale(1.3, 1.3) rotate(45deg);
  transform: scale(1.3, 1.3) rotate(45deg);
}

.facebook {
  background: #155b9d;
  left: 0;
  top: 0%;
}

.twitter {
  background: #1a9ec4;
  bottom: 0;
  left: 25%;
}

.dribbble {
  background: #d05f8f;
  left: 50%;
  top: 0%;
}

.behance {
  background: #3f7aa3;
  bottom: 0;
  left: 75%;
}

.linked-in {
  background: #157f9d;
  left: 100%;
  top: 0%;
}


/* COSIAL NEW*/

/*@import '//codepen.io/chrisdothtml/pen/ojLzJK.css';
.social-btns .btn,
.social-btns .btn:before,
.social-btns .btn .fa {
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
          transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-btns .btn:before {
  top: 90%;
  left: -110%;
}
.social-btns .btn .fa {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
.social-btns .btn.facebook:before {
  background-color: #3b5998;
}
.social-btns .btn.facebook .fa {
  color: #3b5998;
}
.social-btns .btn.twitter:before {
  background-color: #3cf;
}
.social-btns .btn.twitter .fa {
  color: #3cf;
}
.social-btns .btn.google:before {
  background-color: #dc4a38;
}
.social-btns .btn.google .fa {
  color: #dc4a38;
}
.social-btns .btn.dribbble:before {
  background-color: #f26798;
}
.social-btns .btn.dribbble .fa {
  color: #f26798;
}
.social-btns .btn.skype:before {
  background-color: #00aff0;
}
.social-btns .btn.skype .fa {
  color: #00aff0;
}
.social-btns .btn:focus:before,
.social-btns .btn:hover:before {
  top: -10%;
  left: -10%;
}
.social-btns .btn:focus .fa,
.social-btns .btn:hover .fa {
  color: #fff;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.social-btns {
  height: 90px;
  margin: auto;
  font-size: 0;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.social-btns .btn {
  display: inline-block;
  background-color: #fff;
  width: 90px;
  height: 90px;
  line-height: 90px;
  margin: 0 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 28%;
  box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
  opacity: 0.99;
}
.social-btns .btn:before {
  content: '';
  width: 120%;
  height: 120%;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.social-btns .btn .fa {
  font-size: 38px;
  vertical-align: middle;
}

*/


/*=====================*/
/*
.social-nav {
  padding: 0;
  list-style: none;
  display: inline-block;
  margin: 10px auto;
}
.social-nav li {
  display: inline-block;
}
.social-nav a {
  display: inline-block;
  float: left;
  width: 48px;
  height: 48px;
  font-size: 20px;
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  line-height: 48px;
  background: #000;
  position: relative;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.model-3d-0 a {
  background: #333;
  float: left;
  margin: 0 10px;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.model-3d-0 a:hover {
  -moz-transform: rotateX(-90deg);
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}
.model-3d-0 a:hover .fornt {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.model-3d-0 a:hover .back {
  -moz-backface-visibility: visible;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
.model-3d-0 .front, .model-3d-0 .back {
  width: 48px;
  height: 48px;
  background: #333;
  position: absolute;
  top: 0;
  left: 0;
  -moz-transform: translateZ(18px);
  -webkit-transform: translateZ(18px);
  transform: translateZ(18px);
  -moz-backface-visibility: visible;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
.model-3d-0 .back {
  font-size: 32px;
  -moz-transform: rotateX(90deg) translateZ(18px);
  -ms-transform: rotateX(90deg) translateZ(18px);
  -webkit-transform: rotateX(90deg) translateZ(18px);
  transform: rotateX(90deg) translateZ(18px);
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.model-3d-0 .twitter .back {
  background: #00ACED;
}
.model-3d-0 .facebook .back {
  background: #3B579D;
}
.model-3d-0 .google-plus .back {
  background: #DD4A3A;
}
.model-3d-0 .linkedin .back {
  background: #007BB6;
}
.model-3d-0 .pinterest .back {
  background: #CB2026;
}

/*====== Model-9 Animation ========*/
@-moz-keyframes icon-move {
  49% {
    -moz-transform: translateX(-40px);
    transform: translateX(-40px);
    opacity: 0;
  }
  50% {
    -moz-transform: translateX(40px);
    transform: translateX(40px);
    opacity: 1;
  }
  80% {
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes icon-move {
  49% {
    -webkit-transform: translateX(-40px);
    transform: translateX(-40px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateX(40px);
    transform: translateX(40px);
    opacity: 1;
  }
  80% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes icon-move {
  49% {
    -moz-transform: translateX(-40px);
    -ms-transform: translateX(-40px);
    -webkit-transform: translateX(-40px);
    transform: translateX(-40px);
    opacity: 0;
  }
  50% {
    -moz-transform: translateX(40px);
    -ms-transform: translateX(40px);
    -webkit-transform: translateX(40px);
    transform: translateX(40px);
    opacity: 1;
  }
  80% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

header .header-content {
    text-align: center;
    padding: 0;
    height: 50vh;
}






header {
    min-height: 0%;
}

#gradient{
background: linear-gradient(296deg, #31a788, #5886d4, #990d7b, #f2f9ce, #1ca9aa);
background-size: 1000% 1000%;

-webkit-animation: AnimationName 9s ease infinite;
animation: AnimationName 9s ease infinite;

@-webkit-keyframes AnimationName {
    0%{background-position:0% 99%}
    50%{background-position:100% 2%}
    100%{background-position:0% 99%}
}
@keyframes AnimationName { 
    0%{background-position:0% 99%}
    50%{background-position:100% 2%}
    100%{background-position:0% 99%}
}
}
