
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box
}

.mm-page {
  font: 16px/1.2 Arial, sans-serif;
  background: #fff;
  height: 100%;
  width: 100%
}

.mm-page a:link {
  -webkit-tap-highlight-color: #478FB2
}

.mm-page a {
  color: #4aa6bd;
  text-decoration: none;
}

.mm-page a:hover {
  color: #036
}

.clearfix:after,
.clearfix:before,
.container:after,
.container:before,
.f-row:after,
.f-row:before
{
  content: "";
  display: table
}

.clearfix:after,
.container:after,
.f-row:after,
.nav:after {
  clear: both
}

.hidden {
  display: none;
  visibility: hidden
}

.wrapper {
  height: auto!important
}
/* tss Part -> Slider Progression */

.the-steps-section {
  padding: 94px 10px;
  background: #fff;
  box-shadow: inset 0 4px 78px rgba(0, 0, 0, .1);
  position: relative
}

.the-steps-section h2 {
  font-size: 50px;
  line-height: 1.1;
  color: #222;
  text-align: center;
  margin: 0 0 50px
}

.the-steps-section h2 span {
  font-weight: 700;
}

.tss-frame {
  max-width: 980px;
  margin: 0 auto
}

.services-tabs {
  margin: 0 0 24px;
  position: relative;
  font-size: 0;
  line-height: 0
}

.services-tabs:before {
  position: absolute;
  top: 77px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 74%;
  height: 22px;
  content: "";
  background: linear-gradient(to bottom, #d5d5d5 0%, #dedede 10%, #e5e5e5 14%, #f1f1f1 29%, #f6f6f6 38%, #f8f8f8 48%, #f8f8f8 81%, #f6f6f6 90%, #f1f1f1 100%);
  z-index: 1
}

.services-tabs li {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  position: relative;
  z-index: 2;
  padding: 192px 0 0
}

.tss-step-number {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 176px;
  height: 176px
}

.tss-step-number strong {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 152px;
  height: 152px;
  border-radius: 50%;
  background: #f7f7f7;
  box-shadow: inset 0 3px 4px rgba(0, 0, 0, .2);
  content: "";
  z-index: 1;
  transition: all .2s
}

.active .tss-step-number strong {
  width: 176px;
  height: 176px
}

li:nth-child(2) .tss-step-number strong:before {
  position: absolute;
  top: 50%;
  margin-top: -11px;
  width: 3px;
  height: 22px;
  content: "";
  background: linear-gradient(to bottom, #d5d5d5 0%, #dedede 10%, #e5e5e5 14%, #f1f1f1 29%, #f6f6f6 38%, #f8f8f8 48%, #f8f8f8 81%, #f6f6f6 90%, #f1f1f1 100%)
}

li:first-child .tss-step-number strong:after {
  right: 0
}

li:last-child .tss-step-number strong:after,
li:nth-child(2) .tss-step-number strong:after {
  left: 0
}

li:nth-child(2) .tss-step-number strong:before {
  right: 0
}

.tss-step-number em {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 118px;
  height: 118px;
  background: #fff;
  color: #a0a0a0;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .05);
  font-size: 57px;
  line-height: 118px;
  text-align: center;
  z-index: 2;
  transition: all .2s
}

.active .tss-step-number em {
  color: #fff;
  background: rgb(0, 122, 186);
  width: 142px;
  height: 142px;
  line-height: 142px
}

.tss-active-1 li:nth-child(1) .tss-step-number em,
.tss-active-2 li:nth-child(1) .tss-step-number em,
.tss-active-2 li:nth-child(2) .tss-step-number em,
.tss-active-3 li:nth-child(1) .tss-step-number em,
.tss-active-3 li:nth-child(2) .tss-step-number em,
.tss-active-3 li:nth-child(3) .tss-step-number em {
  background: rgb(176, 210, 84);
  color: #fff
}

a:hover .tss-step-number em {
  color: #fff;
  background: rgb(0, 122, 186)
}

.tss-active-1 li:nth-child(1) .tab-text,
.tss-active-2 li:nth-child(1) .tab-text,
.tss-active-2 li:nth-child(2) .tab-text,
.tss-active-2 li:nth-child(2) .tab-text {
  color: #222
}

.progress-filler {
  margin: 0 0 60px;
  height: 17px;
  background: rgb(176, 210, 84);
  border-radius: 4px;
  position: relative
}

.progress-indicator {
  display: block;
  width: 25%;
  height: 17px;
  background: rgb(0, 122, 186);
  border-radius: 4px;
  transition: width .4s
}

.tss-active-0 .progress-indicator {
  width: 25%
}

.tss-active-1 .progress-indicator {
  width: 50%
}

.tss-active-2 .progress-indicator {
  width: 75%
}

.tss-active-3 .progress-indicator {
  width: 100%
}

.progress-active {
  position: absolute;
  top: 100%;
  margin-left: -22px;
  width: 0;
  height: 0;
  border-left: 22px solid transparent;
  border-right: 22px solid transparent;
  border-top: 16px solid rgb(0, 122, 186);
  transition: left .4s
}

.tss-active-0 .progress-active {
  left: 12.5%
}

.tss-active-1 .progress-active {
  left: 37.5%
}

.tss-active-2 .progress-active {
  left: 62.5%
}

.tss-active-3 .progress-active {
  left: 87.5%
}

.tabs-content {
  padding: 0 46px
}

.tabs-column {
  float: left;
  width: 57.8%;
  font-size: 17px;
  line-height: 1.6;
  color: #5a6063
}

.tabs-column:first-child {
  width: 42.1%;
  padding: 0 48px 0 0;
  font-size: 28px;
  line-height: 1.2;
  color: #0079ba
}

.tabs-content p {
  margin: 0 0 28px
}

.tabs-content a {
  font-weight: 700;
  color: #222
}

.tabs-content a:hover {
  color: rgb(0, 122, 186)
}

@media only screen and (max-width:900px) {
  .the-steps-section {
    padding: 70px 10px 60px
  }
  .the-steps-section h2 {
    font-size: 45px;
    margin: 0 0 25px
  }
  .lead-box .section-title h2 {
    font-size: 45px
  }
  .services-tabs {
    margin: 0 0 15px
  }
  .services-tabs:before {
    top: 59px;
    height: 18px
  }
  .services-tabs li {
    padding-top: 150px
  }
  .tss-step-number {
    width: 140px;
    height: 140px
  }
  .tss-step-number strong {
    width: 122px;
    height: 122px
  }
  .active .tss-step-number strong {
    width: 140px;
    height: 140px
  }
  .tss-step-number strong:after,
  li:nth-child(2) .tss-step-number strong:before {
    height: 18px
  }
  .tss-step-number em {
    width: 94px;
    height: 94px;
    line-height: 94px
  }
  .active .tss-step-number em {
    width: 115px;
    height: 115px;
    line-height: 115px
  }
  .progress-filler {
    margin: 0 0 36px
  }
  .progress-filler,
  .progress-indicator {
    height: 14px
  }
  .progress-active {
    margin-left: -18px;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 13px solid rgb(0, 122, 186)
  }
  .tab-text {
    font-size: 20px;
    padding: 0
  }
  .tabs-content {
    padding: 0 17px
  }
  .tabs-column,
  .tabs-column:first-child {
    float: none;
    width: 100%;
    padding: 0
  }
  .tabs-content p {
    margin: 0 0 20px
  }
}

@media screen and (max-width:620px) {
  .the-steps-section {
    padding: 50px 6px 40px
  }
  .the-steps-section h2 {
    font-size: 30px;
    margin: 0 0 20px
  }
  .services-tabs {
    margin: 0 0 15px
  }
  .services-tabs:before {
    top: 34px;
    width: 74%;
    height: 12px
  }
  .services-tabs li {
    padding-top: 84px
  }
  .tss-step-number {
    width: 78px;
    height: 78px
  }
  .tss-step-number strong {
    width: 66px;
    height: 66px
  }
  .active .tss-step-number strong {
    width: 78px;
    height: 78px
  }
  .tss-step-number strong:after,
  li:nth-child(2) .tss-step-number strong:before {
    height: 12px;
    margin-top: -6px
  }
  .tss-step-number em {
    width: 52px;
    height: 52px;
    font-size: 33px;
    line-height: 52px
  }
  .active .tss-step-number em {
    width: 64px;
    height: 64px;
    line-height: 64px
  }
  .tab-text {
    font-size: 13px;
    padding: 0
  }
  .progress-filler {
    margin: 0 0 20px
  }
  .progress-active {
    margin-left: -13px;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 10px solid rgb(0, 122, 186)
  }
  .tabs-content {
    padding: 0 10px
  }
  .tabs-column {
    font-size: 13px
  }
  .tabs-column:first-child {
    font-size: 19px
  }
  .wrapper {
    padding-top: 90px
  }
}