<header id="gradient">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                
                    <div class="header-content">

                    
                    <!--<div class="header-content-inner">



							<div class="text">
                          <h1>Passion for</h1>
                         <h1>
                            <span class="word wisteria"> Security.</span>
                            <span class="word belize"> Mobile Dev.</span>
                            <span class="word pomegranate "> Web Dev.</span>
                            
                            <span class="word green"> UX-UI.</span>
                            <span class="word midnight"> Animation.</span>
                          </h1>
                           <h3>"The art challenges the technology, and the technology inspires the art." - John Lasseter (Director)
                            </h3>
                        </div>-

                     

                        	
                        </div>-->

                         <div id="quoteDisplay">
                        <h1 class="quotess">
                        	“”
                        	<h3 class="author"></h3>

								
                        </h1></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
