<!-- Services Section -->
    <section id="preview" class="preview">

        <div class="mm-page">

  <div class="wrapper ">


    <div id="obj2" class="the-steps-section">

      <div class="tss-frame">
        <h2>
            In 4 steps you will be awesome!
        </h2>
        <div id="tss-tabs" class="tss-active-0">
          <ul class="jq-tabs services-tabs">
            <li class="active">
              <a href="#web-traffic">
                <span class="tss-step-number">
                        <strong><em>1</em></strong>
                    </span>
              </a>
            </li>
            <li class="">
              <a href="#customer">
                <span class="tss-step-number">
                        <strong><em>2</em></strong>
                    </span>
              </a>
            </li>
            <li class="">
              <a href="#customer-value">
                <span class="tss-step-number">
                        <strong><em>3</em></strong>
                </span>
              </a>
            </li>
            <li class="">
              <a href="#stap4">
                <span class="tss-step-number">
                        <strong><em>4</em></strong>
                    </span>
              </a>
            </li>
          </ul>
          <div class="progress-filler">
            <span class="progress-indicator">
                    <span class="progress-active"></span>
            </span>
          </div>
          <div class="tabs-content">
            <div id="web-traffic" class="jq-tab-box clearfix" style="display: none;">
              <div class="tabs-column">
                <p>Have a great look!</p>
              </div>
              <div class="tabs-column">
                <p>The first step to the growth of an awesome online business is to have a great appearance. What better than have a cool Horizontal Process walk? You can guide your customers to know the steps for being your customers in a fun way.</p>
                <p>So have now this great carrusel for your web page and have an awesome presence! Click on buy and its yours.</p>
              </div>
            </div>
            <div id="customer" class="jq-tab-box clearfix" style="display: block;">
              <div class="tabs-column">
                <p>Mark the difference</p>
              </div>
              <div class="tabs-column">
                <p>With our incredible design and structure, you can explain important points of your website in a really different and fun way. Be different from the others and have them remind you of that.</p>
                <p>Place the info needed to explain to your visitors the process for buying, suscribe or get your services!
                </p>
                <p>You can add or remove steps as you wish.
                </p>
              </div>
            </div>
            <div id="customer-value" class="jq-tab-box clearfix" style="display: none;">
              <div class="tabs-column">
                <p>Leave a review</p>
              </div>
              <div class="tabs-column">
                <p>If you like it, leave a review. I'm happy to read your comments and improve the designs. I'm also a multiplatform developer, so I enjoy programming both for web and mobile.</p>
                <p>If you are looking to build something different, with a unique style and grow online contact me and we can talk without compromise.</p>
              </div>
            </div>
            <div id="stap4" class="jq-tab-box clearfix" style="display: none;">
              <div class="tabs-column">
                <p>Enjoy your cool design!</p>
              </div>
              <div class="tabs-column">
                <p>See how the customers have fun reading more about your business or site. They understand better and in a simplier way the steps needed.</p>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>


  </div>
</div>
<script src='https://code.jquery.com/jquery-1.12.4.js'></script>

  

<script  src="/js/index.js"></script>


        
    </section>
