
<section id="portfolio" class="bg-primary text-center">

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">The latest! <i style="color:#21cddb" class="fa fa-bolt"></i></h2>
                <p>See what I have been working on</p>
                <hr>
                {% if site.data-ad-client %}
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- jekynewage -->
                <ins class="adsbygoogle"
                    style="display:block"
                    data-ad-client="{{ site.data-ad-client }}"
                    data-ad-slot="{{ site.data-ad-slot }}"
                    data-ad-format="auto"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<script>
var isCarouselPaused = false;

$( window ).on( 'load resize', function() {
  if ( document.documentElement.clientWidth <= 767 ) {
    if ( !isCarouselPaused ) {
      $( '#myCarousel' ).carousel('pause');
      isCarouselPaused = true;
    }
  } else {
    if ( isCarouselPaused ) {
      $( '#myCarousel' ).carousel('cycle');
      isCarouselPaused = false;
    }
  };
});
</script>

<section class="no-padding" class="text-center" style="padding:100px 0px 30px 0 !important;">

<div class="container">
  <div class="row">
    <div class="col-xs-12">
   
      
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            
          <div class="item active">
            <a href="https://gsuite.google.com/marketplace/app/rainbownizer/44337980137"><img src="https://raw.githubusercontent.com/Rebecasarai/rebecasarai.github.io/master/img/rainbownizer.png" alt="Try my docs plugin">
            <div class="carousel-caption" style= "background-color: #ffffffbd;"> 
              <h3>Try Rainbownizer, my Google Docs plugin!</h3>
              <p>Use Rainbownizer to rainbownize text and turn it into a colorful rainbow. </p></a>
            </div>
          </div>
          <div class="item entrevista">
            <a href="http://ondemand.rtva.ondemand.flumotion.com/rtva/ondemand/VTRInformativos/1517062704336inteligencia_n1_INF.mp4"><img src="https://raw.githubusercontent.com/Rebecasarai/rebecasarai.github.io/master/img/entrevista.png" alt="First slide">
            <div class="carousel-caption"  style= "background-color: #ffffffbd;"> 
              <h3>Entrevista con Canal Sur</h3>
              <p>"Inteligencia Artificial hecha en Andalucia" </p></a>
            </div>
          </div>
            
          
          <div class="item">
            <a href="https://www.fundaciontelefonica.com/empleabilidad/think-big/demo-day-think-big-2017/"><img src="https://raw.githubusercontent.com/Rebecasarai/rebecasarai.github.io/master/img/demodayRebeca.jpg" alt="Second slide">
            <div class="carousel-caption" style= "background-color: #ffffffbd;"> 
              <h3>Presentación del proyecto</h3>
              <p>En el Demo Day de Think Big 2017.</p>
              </a>
            </div>
          </div>
            
         
          <div class="item">
            <a href="http://www.efeemprende.com/noticia/fundacion-telefonica-celebra-think-big-mas-500-solicitudes-9-finalistas/">
            <img src="http://www.efeemprende.com/wp-content/blogs.dir/2/files_mf/cache/th_3b651670e2f30f81201e5ad0e93774b3_fundacion-telefonica-think-big.jpg" alt="Third slide">
            <div class="carousel-caption" style= "background-color: #ffffffbd;"> 
              <h3>Articulo EFE Emprende</h3>
              <p>Entrevista sobre Braille writer</p>
            </div>
            </a>
          </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span><span class="sr-only">Previous</span></a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><span class="sr-only">Next</span></a>
      </div>
      
    </div> 
  </div> 
</div>

</section>


<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">

             <div class="col-lg-4 col-sm-4">
                <a href="https://thinkbigjovenes.fundaciontelefonica.com/proyectos/braille-writer-0" class="portfolio-box">
                    <img src="/img/portfolio/bw-portafolio.png" class="img-responsive" alt="braille-writer">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Web App
                            </div>
                            <div class="project-name">
                                Braille Writter Web
                            </div>
                        </div>
                    </div>
                </a>
            </div>


            <div class="col-lg-4 col-sm-4">
                <a href="#" class="portfolio-box">
                    <img src="/img/portfolio/logo-bw.png" class="img-responsive" alt="braille-writer">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Cross Plataform App
                            </div>
                            <div class="project-name">
                                Braille Writter
                            </div>
                        </div>
                    </div>
                </a>
            </div>
           
            <div class="col-lg-4 col-sm-4">
                <a href="https://github.com/Rebecasarai/Agrolocal" class="portfolio-box">
                    <img src="/img/es.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Empowering workers and users. Hack for Goods.
                            </div>
                            <div class="project-name">
                                Agrolocal
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            </div>

            <div class="row no-gutter">
            <div class="col-lg-4 col-sm-4">
                <a href="#" class="portfolio-box">
                    <img src="/img/vida-y-salud.png" class="img-responsive" alt="braille-writer">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                E-commerce
                            </div>
                            <div class="project-name">
                                Vida y Salud
                            </div>
                        </div>
                    </div>
                </a>
            </div>


            <div class="col-lg-4 col-sm-4">
                <a href="http://denegociosinmobiliaria.com/" class="portfolio-box">
                    <img src="/img/portfolio/3.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Web App Development
                            </div>
                            <div class="project-name">
                                Real States Page
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-4">
                <a href="#" class="portfolio-box">
                    <img src="/img/portfolio/marymary.jpg" class="img-responsive" alt="marymary">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Web Development and Design
                            </div>
                            <div class="project-name">
                                Mary Mary
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            </div>

            <div class="row no-gutter">
            <div class="col-lg-4 col-sm-4">
                <a href="#" class="portfolio-box">
                    <img src="/img/portfolio/huerta.jpg" class="img-responsive" alt="bienestar">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Web Development
                            </div>
                            <div class="project-name">
                                La Huerta del Bienestar
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-4">
                <a href="http://www.abctravelmorocco.com:8008" class="portfolio-box">
                    <img src="/img/portfolio/abc.jpg" class="img-responsive" alt="abcTravel">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Web development
                            </div>
                            <div class="project-name">
                                ABC Travel Morocco
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            </div>
        </div>
    </div>
</section>
