
<section id="quote" class="download bg-primary text-center">
<ul class="social-nav model-3">
  <li><a href="https://twitter.com/vivinantony" class="twitter"><i class="fa fa-twitter"></i></a></li>
  <li>
    <a href="https://www.facebook.com/vivinantony" class="facebook"> <i class="fa fa-facebook"></i></a>
  </li>
  <li><a href="https://plus.google.com/+VivinAntonyJ" class="google-plus"><i class="fa fa-google-plus"></i></a></li>
  <li><a class="linkedin"><i class="fa fa-linkedin"></i></a></li>
  <li><a class="pinterest"><i class="fa fa-pinterest-p"></i></a></li>
</ul>
<br/>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Stay ready to go! <i style="color:brown"class="fa fa-coffee"></i></h2>
                <p>get started!</p>
            </div>
        </div>
    </div>
</section>
