<!-- Services Section -->
    <section id="services" class="services2">
        <div class="container">
        <div class="row">
                
                <div class="col-sm-12">
                    <div class="team-member">
                        <img src="img/25002245.jpeg" class="img-responsive img-circle cented" alt="">
                        
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading skills">Skills</h2>
                    <h3 class="section-subheading text-muted">Some of my oustanding skills so far.</h3>
                </div>
            </div>

            <div class="row text-center">
                

                <div class="col-md-4 col-sm-4">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Apache_Spark_logo.svg/2000px-Apache_Spark_logo.svg.png" style="max-width:110px;">
                    <h4 class="service-heading">Big Data: Hadoop, Kafka, Spark &amp; Sqoop</h4>
                    <div class="barWrapper">
 
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                      </div>
                    </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    
                    <img class="logos-servicios1" src="/img/logos/responsive.png">
                    <h4 class="service-heading">Android and Web Development</h4>
                    <div class="barWrapper">
 
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                          <!--<span  class="popOver" data-toggle="tooltip" data-placement="top"> </span>  -->
                      </div>
                    </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <img  class="logos-servicios" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Tensorflow_logo.svg/2000px-Tensorflow_logo.svg.png">
                    <h4 class="service-heading">Skicit-Learn &amp; Tensorflow</h4>
                    <div class="barWrapper">
 
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                      </div>
                    </div>
                    </div>
                </div>
                
            </div>

                

            <div class="row text-center">

                

                <div class="col-md-4 col-sm-4">
                    <i class="devicon-java-plain colored"></i>


                    <h4 class="service-heading">Java &amp; Scala</h4>

                    <div class="barWrapper">
 
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                      </div>
                    </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <i class="devicon-nodejs-plain colored" style="font-size: 50px;"></i>
                    <h4 class="service-heading">Javascript: Node, Vue &amp; Angular</h4>
                    <div class="barWrapper">
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                         <!-- <span  class="popOver" data-toggle="tooltip" data-placement="top" > </span> -->
                      </div>
                    </div>
                    </div>
                </div>
                
            <div class="row text-center">
                <div class="col-md-4 col-sm-4">
                    <i class="devicon-python-plain colored"></i>
                    <h4 class="service-heading">Python</h4>

                    <div class="barWrapper">
 
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                             
                      </div>
                    </div>
                    </div>
                </div>
             
                </div>

            </div>
        </div>
    </section>
