<!-- Services Section -->
<section id="services" class="services2">
    <div class="container">
    <div class="row">
            
            <div class="col-sm-12">
                <div class="team-member">
                    <img src="img/25002245.jpeg" class="img-responsive img-circle cented" alt="">
                    
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading skills">Skills</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>

        <div class="row text-center skill-icons">
            

            <div class="col-md-4 col-sm-4">
                <img class="logos-servicios" src="https://upload.wikimedia.org/wikipedia/commons/a/ae/Keras_logo.svg" >
                <h4 class="service-heading">Machine &amp; Deep Learning</h4>
                <div class="barWrapper">

                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                  </div>
                </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                
                <img class="logos-servicios opencv" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/32/OpenCV_Logo_with_text_svg_version.svg/800px-OpenCV_Logo_with_text_svg_version.svg.png">
                <h4 class="service-heading">Computer vision</h4>
                <div class="barWrapper">

                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                      <!--<span  class="popOver" data-toggle="tooltip" data-placement="top"> </span>  -->
                  </div>
                </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <img class="logos-servicios1" src="/img/logos/responsive.png">
                <h4 class="service-heading">App &amp; Web Development</h4>
                <div class="barWrapper">

                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                  </div>
                </div>
                </div>
            </div>
            
        </div>

            

        <div class="row text-center skill-icons">
            

            <div class="col-md-4 col-sm-4">
                
                <i class="devicon-python-plain colored"></i>
                <h4 class="service-heading">Python</h4>
                
                <div class="barWrapper">
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                     <!-- <span  class="popOver" data-toggle="tooltip" data-placement="top" > </span> -->
                  </div>
                </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <!--<i class="devicon-java-plain colored"></i>-->
                <i class="devicon-scala-plain-wordmark colored"></i>
                <h4 class="service-heading">Java & Scala (Spark)</h4>
                <div class="barWrapper">

                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                  </div>
                </div>
                </div>
            </div>
            
        <div class="row text-center">
            <div class="col-md-4 col-sm-4">

                <i class="devicon-nodejs-plain colored"></i>
                <h4 class="service-heading">Javascript: Node &amp; Vue</h4>

                <div class="barWrapper">

                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                         
                  </div>
                </div>
                </div>
            </div>
         
            </div>

        </div>
    </div>
</section>
