<!-- Services Section -->
    <section id="services" class="services2">
        <div class="container">
        <div class="row">
                
                <div class="col-sm-12">
                    <div class="team-member">
                        <img src="img/rebeca3.jpg" class="img-responsive img-circle cented" alt="">
                        
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading skills">Skills</h2>
                    <h3 class="section-subheading text-muted">Some of my oustanding skills so far.</h3>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-4 col-sm-4">
                    <i class="devicon-php-plain colored"></i>
                    <h4 class="service-heading">PHP</h4>
                    <div class="barWrapper">
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                          <span  class="popOver" data-toggle="tooltip" data-placement="top" title="75%"> </span> 
                      </div>
                    </div>
                    </div>
                   <!-- <p class="text-muted">Laravel and PHPCake</p>-->
                </div>
                <div class="col-md-4 col-sm-4">
                    
                    <img class="logos-servicios1" src="/img/logos/responsive.png">
                    <h4 class="service-heading">Responsive Design</h4>
                    <div class="barWrapper">
 
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                          <span  class="popOver" data-toggle="tooltip" data-placement="top" title="95%"> </span>  
                      </div>
                    </div>
                    </div>
                    <!-- <p class="text-muted">Laravel and PHPCake</p>-->
                </div>
                <div class="col-md-4 col-sm-4">
                    <img class="logos-servicios" src="/img/logos/locked-2.png">
                    <h4 class="service-heading">Web Security</h4>
                    <div class="barWrapper">
                     
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                             <span  class="popOver" data-toggle="tooltip" data-placement="top" title="80%"> </span>  
                      </div>
                    </div>
                    </div>
                    <!-- <p class="text-muted">Laravel and PHPCake</p>-->
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4 col-sm-4">
                    <i class="devicon-ruby-plain colored"></i>


                    <h4 class="service-heading">Ruby</h4>

                    <div class="barWrapper">
 
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                             <!--<span  class="popOver" data-toggle="tooltip" data-placement="top" title="55%"> </span>  -->
                      </div>
                    </div>
                    </div>
                   <!-- <p class="text-muted">Laravel and PHPCake</p>-->
                </div>
                <div class="col-md-4 col-sm-4">
                    <i class="devicon-javascript-plain colored"></i>
                    <h4 class="service-heading">JavaScript</h4>
                    <div class="barWrapper">
 
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                             <!--<span  class="popOver" data-toggle="tooltip" data-placement="top" title="55%"> </span>  -->
                      </div>
                    </div>
                    </div>
                    <!-- <p class="text-muted">Laravel and PHPCake</p>-->
                </div>
                <div class="col-md-4 col-sm-4">
                     <img class="logos-servicios2" src="/img/logos/smartphone-8.png">

                    <h4 class="service-heading">Mobile Design</h4>
                    <div class="barWrapper">
 
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                            <!-- <span  class="popOver" data-toggle="tooltip" data-placement="top" title="55%"> </span>  -->
                      </div>
                    </div>
                    </div>
                    <!-- <p class="text-muted">Laravel and PHPCake</p>-->
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4 col-sm-4">
                    <i class="devicon-java-plain colored"></i>
                    <h4 class="service-heading">Java</h4>

                    <div class="barWrapper">
 
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
                             
                      </div>
                    </div>
                    </div>
                    <!-- <p class="text-muted">Laravel and PHPCake</p>-->
                </div>
                <div class="col-md-4 col-sm-4">
                    <i class="devicon-css3-plain colored"></i>
                    <h4 class="service-heading">CSS3 Animations</h4>
                    <div class="barWrapper">
 
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="91" aria-valuemin="0" aria-valuemax="100">
                      </div>
                    </div>
                    </div>
                   <!-- <p class="text-muted">Laravel and PHPCake</p>-->
                </div>
                <div class="col-md-4 col-sm-4">
                    <span class="fa-stack fa-2x">
                        <i class="devicon-python-plain colored"></i>
                    </span>
                    <h4 class="service-heading">Big Data</h4>
                 <div class="barWrapper">
                 
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
                  </div>
                </div>
                </div>
                    <!-- <p class="text-muted">Laravel and PHPCake</p>-->
                </div>
            </div>

              

  

            <!--
            <div class="row text-center">
                <div class="col-md-4 col-sm-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">E-Commerce</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4 col-sm-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Responsive Design</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4 col-sm-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web Security</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>-->
        </div>
    </section>
